@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css);

@layer base {
  @font-face {
    font-family: body;
    src: url("./Fonts/googleFont.woff2");
  }
}

body {
  @apply font-body;
}

html {
  scroll-behavior: smooth;
}

.shadowBox {
  box-shadow: rgb(0 0 0 / 8%) 0px 14px 28px, rgb(0 0 0 / 22%) 0px 10px 10px;
}
